.error {
    color: red;
    font-style: italic;
    font-weight: bold;
}

.accesso {
    border: 2px solid blue;
    height: max-content;
    width: 350px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3em;
}

div.buttons {
    display: flex;
    justify-content: space-between;
    text-align: center;
}